.search-input {
    padding: 4px 7px;
    outline: none;
    border: solid 1px #666;
    border-radius: 5px;
    background-color: #fafafa;
    color: #22272a;
    font-size: 1.1rem;
    width: 35%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.search-button {
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
    font-weight: bolder;
    color: black;
    background-color: #cb997e;
    border: none;
    font-size: 1.1rem;
    margin-top: 6px !important;
}

#reply-list .comment-meta {
    margin: 0;
    word-wrap: break-word;
}

#reply-list time {
    color: #666;
}

#reply-list span {
    color: #ccc;
}

#reply-list .gravatar {
    width: 44px;
    padding: 6px;
    margin-right: 4px;
    float: left;
}

#reply-list .gravatar img {
    width: 100%;
}

#reply-list .child-node {
    margin-left: 50px;
}

#reply-list .row {
    margin-bottom: 10px;
}

#reply {
    margin-top: 2rem;
}

#reply textarea {
    width: 100%;
    padding: 5px;
    resize: none;
    background-color: #fff1e6;
}

#reply>.row {
    display: flex;
}

#reply>.row input {
    flex: 1;
    width: 30%;
}

#reply button {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.pagination a {
    border: 1px dashed #cc2a41;
}

article footer {
    border: 1px dashed #cc2a41;
    padding: 10px;
    margin-top: 40px;
}

.comment-meta a:nth-child(3) {
    color: #666;
    background: none;
}

.comment-meta.admin a:first-child {
    color: #cc2a41;
}

@media (max-width:768px) {
    div.footer-left {
        height: auto !important;
    }
}

@media screen and (max-width: 480px) {
    #header #nav ul li.icon {
        right: 0;
    }

    .search-input {
        width: 65%;
    }
}

pre {
    border: none;
    padding: unset;
    margin: unset;
    margin-top: 14px;
}

p {
    margin: unset;
    margin-top: 10px;
}