{{define "admin/articles"}}
{{template "admin/header" .}}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            {{.Tr.T "manage_articles"}}
            <small>Solitudes</small>
        </h1>
    </section>

    <section class="content container-fluid">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr role="row">
                                    <th>ID</th>
                                    <th>{{.Tr.T "title"}}</th>
                                    <th>{{.Tr.T "read"}}</th>
                                    <th>{{.Tr.T "slug"}}</th>
                                    <th>{{.Tr.T "book"}}</th>
                                    <th>Private</th>
                                    <th>{{.Tr.T "created_at"}}</th>
                                    <th>{{.Tr.T "manage"}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range .Data.articles}}
                                <tr role="row">
                                    <td>{{.ID}}</td>
                                    <td><a target="_blank" href="/{{.Slug}}/v{{.Version}}">{{.Title}}</a>
                                    </td>
                                    <td>{{.ReadNum}}</td>
                                    <td>{{.Slug}}</td>
                                    <td>{{.IsBook}}</td>
                                    <td>{{.IsPrivate}}</td>
                                    <td>{{tf .CreatedAt ($.Tr.T "date_format")}}</td>
                                    <td>
                                        <div class="btn-group btn-group-xs">
                                            <a href="/admin/publish?id={{.ID}}"
                                                class="btn btn-warning">{{$.Tr.T "edit"}}</a>
                                            <button onclick="deleteArticle('{{.ID}}')" type="button"
                                                class="btn btn-danger">{{$.Tr.T "delete"}}</button>
                                        </div>
                                    </td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <ul class="pagination">
                    <li class="paginate_button previous"><a
                            href="?page={{.Data.page.PrevPage}}">{{.Tr.T "previous"}}</a></li>
                    <li class="paginate_button next"><a href="?page={{.Data.page.NextPage}}">{{.Tr.T "next"}}</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>
<script>
    function deleteArticle(id) {
        if (!confirm("Confirm delete?")) {
            return
        }
        $.ajax({
            url: "/admin/articles?id=" + id,
            type: 'DELETE',
            success: () => {
                window.location.reload()
            },
            error: (e) => {
                alert(e.responseText)
            },
        })
    }
</script>
{{template "admin/footer" .}}
{{end}}