{{define "admin/articles"}}
{{template "admin/header" .}}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Recent posts
            <small>manage articles</small>
        </h1>
    </section>

    <section class="content container-fluid">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr role="row">
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>ReadNum</th>
                                    <th>Slug</th>
                                    <th>IsBook</th>
                                    <th>CreatedAt</th>
                                    <th>Manage</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range .Data.articles}}
                                <tr role="row">
                                    <td>{{.ID}}</td>
                                    <td><a target="_black" href="/{{.Slug}}/version/{{.Version}}">{{.Title}}</a>
                                    </td>
                                    <td>{{.ReadNum}}</td>
                                    <td>{{.Slug}}</td>
                                    <td>{{.IsBook}}</td>
                                    <td>{{tf .CreatedAt "02 Jan 2006"}}</td>
                                    <td>
                                        <div class="btn-group btn-group-xs">
                                            <a href="/admin/publish?id={{.ID}}" target="_black"
                                                class="btn btn-warning">Edit</a>
                                            <button onclick="deleteArticle('{{.ID}}')" type="button"
                                                class="btn btn-danger">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <ul class="pagination">
                    <li class="paginate_button previous"><a href="?page={{.Data.page.PrevPage}}">Previous</a></li>
                    <li class="paginate_button next"><a href="?page={{.Data.page.NextPage}}">Next</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>
<script>
    function deleteArticle(id) {
        if (!confirm("Confirm delete?")){
            return
        }
        $.ajax({
            url: "/admin/articles?_csrf={{.CSRF }}&id=" + id,
            type: 'DELETE',
            success: () => {
                window.location.reload()
            },
            error: (e) => {
                alert(e.responseText)
            },
        })
    }
</script>
{{template "admin/footer" .}}
{{end}}