{{define "admin/comments"}}
{{template "admin/header" .}}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Comments
            <small>manage comment by guest</small>
        </h1>
    </section>

    <section class="content container-fluid">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr role="row">
                                    <th>ID</th>
                                    <th>Content</th>
                                    <th>Author</th>
                                    <th>Website</th>
                                    <th>Article</th>
                                    <th>Version</th>
                                    <th>CreatedAt</th>
                                    <th>Manage</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range .Data.comments}}
                                <tr role="row">
                                    <td>{{.ID}}</td>
                                    <td>{{.Content}}</td>
                                    <td>{{.Nickname}}({{.Email}})</td>
                                    <td>{{.Website}}</td>
                                    <td><a target="_blank"
                                            href="/{{.Article.Slug}}/version/{{.Version}}">{{.Article.Title}}</a>
                                    </td>
                                    <td>{{.Version}}</td>
                                    <td>{{tf .CreatedAt ($.Tr.T "date_format")}}</td>
                                    <td><button onclick="deleteComment('{{.Article.ID}}','{{.ID}}','{{.ReplyTo}}')"
                                            class="btn btn-warning btn-xs">Delete</button></td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <ul class="pagination">
                    <li class="paginate_button previous"><a href="?page={{.Data.page.PrevPage}}">Previous</a></li>
                    <li class="paginate_button next"><a href="?page={{.Data.page.NextPage}}">Next</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>
<script>
    function deleteComment(aid, commendId, rpl) {
        if (!confirm("Confirm delete?")) {
            return
        }
        $.ajax({
            url: "/admin/comments?_csrf={{.CSRF }}&aid=" + aid + '&id=' + commendId + '&rpl=' + (rpl=='\x3cnil\x3e'?'':rpl),
            type: 'DELETE',
            success: () => {
                window.location.reload()
            },
            error: (e) => {
                alert(e.responseText)
            },
        })
    }
</script>
{{template "admin/footer" .}}
{{end}}