{{define "admin/comments"}}
{{template "admin/header" .}}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            {{.Tr.T "manage_comments"}}
            <small>Solitudes</small>
        </h1>
    </section>

    <section class="content container-fluid">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr role="row">
                                    <th>ID</th>
                                    <th>{{.Tr.T "content"}}</th>
                                    <th>{{.Tr.T "author"}}</th>
                                    <th>{{.Tr.T "website"}}</th>
                                    <th>{{.Tr.T "article"}}</th>
                                    <th>{{.Tr.T "version"}}</th>
                                    <th>{{.Tr.T "created_at"}}</th>
                                    <th>{{.Tr.T "manage"}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range .Data.comments}}
                                <tr role="row">
                                    <td>{{.ID}}</td>
                                    <td>{{.Content}}</td>
                                    <td>{{.Nickname}}({{.Email}})</td>
                                    <td>{{.Website}}</td>
                                    <td><a target="_blank"
                                            href="/{{.Article.Slug}}/v{{.Version}}">{{.Article.Title}}</a>
                                    </td>
                                    <td>{{.Version}}</td>
                                    <td>{{tf .CreatedAt ($.Tr.T "date_format")}}</td>
                                    <td><button onclick="deleteComment('{{.Article.ID}}','{{.ID}}','{{.ReplyTo}}')"
                                            class="btn btn-warning btn-xs">{{$.Tr.T "delete"}}</button></td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <ul class="pagination">
                    <li class="paginate_button previous"><a
                            href="?page={{.Data.page.PrevPage}}">{{.Tr.T "previous"}}</a></li>
                    <li class="paginate_button next"><a href="?page={{.Data.page.NextPage}}">{{.Tr.T "next"}}</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>
<script>
    function deleteComment(aid, commendId, rpl) {
        if (!confirm("Confirm delete?")) {
            return
        }
        $.ajax({
            url: "/admin/comments?aid=" + aid + '&id=' + commendId + '&rpl=' + (rpl == '\x3cnil\x3e' ? '' : rpl),
            type: 'DELETE',
            success: () => {
                window.location.reload()
            },
            error: (e) => {
                alert(e.responseText)
            },
        })
    }
</script>
{{template "admin/footer" .}}
{{end}}