{{define "admin/index"}}
{{template "admin/header" .}}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            {{.Tr.T "dashboard"}}
        </h1>
    </section>

    <section class="content container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{.Data.articleNum}}</h3>
                        <p>{{.Tr.T "articles"}}</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>{{.Data.lastArticlePublish}} </h3>
                        <p>{{.Tr.T "days_left_from_the_last_post"}}</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{.Data.commentNum}}</h3>
                        <p>{{.Tr.T "comments"}}</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>{{.Data.lastComment}}</h3>
                        <p>{{.Tr.T "days_left_from_the_last_comment"}}</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-lime-active">
                    <div class="inner">
                        <h3>{{.Data.tagNum}}</h3>
                        <p>{{.Tr.T "labels"}}</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-tags"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-navy">
                    <div class="inner">
                        <h3>{{.Data.memoryUsage}} M</h3>
                        <p>{{.Tr.T "memory_usage"}}</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-file-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-maroon">
                    <div class="inner">
                        <h3>{{.Data.gcNum}}</h3>
                        <p>{{.Tr.T "gc_num"}}</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-trash-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-teal">
                    <div class="inner">
                        <h3>{{.Data.routineNum}}</h3>
                        <p>{{.Tr.T "routine_num"}}</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-meh-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <button onclick="rebuildFullTextSearch()"
                    class="btn btn-danger btn-lg">{{.Tr.T "rebuild_fulltext_search_data"}}</button>
            </div>
        </div>
    </section>
</div>
<script>
    function rebuildFullTextSearch() {
        if (confirm('Rebuild full-text search data?')) {
            $.get("/admin/rebuild-full-text-search").done(() => {
                alert("Rebuild successful")
            })
        }
    }
</script>
{{template "admin/footer" .}}
{{end}}