{{define "admin/login"}}
<!DOCTYPE html>
<html>

<head>
    {{template "admin/css"}}
    <link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/iCheck/1.0.2/skins/square/blue.css">
    <title>{{.Tr.T "login"}} - Powered by Solitudes</title>
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Solitudes</b>Engine</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to be solitude.</p>

            <form method="post">
                <input type="hidden" name="_csrf" value="{{.CSRF}}">
                <div class="form-group has-feedback">
                    <input type="email" name="email" class="form-control" placeholder='{{.Tr.T "email"}}'>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="password" class="form-control" placeholder='{{.Tr.T "password"}}'>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" name="remember"> {{.Tr.T "remember_me"}}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">{{.Tr.T "sign_in"}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{template "admin/js"}}
    <script src="https://cdnjs.loli.net/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%'
            });
        });
    </script>
</body>

</html>
{{end}}