{{define "admin/media"}}
{{template "admin/header" .}}

<div class="admin-card">
    <div class="admin-card-header">
        {{.Tr.T "manage_media"}}
    </div>
    <div class="admin-card-body">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{.Tr.T "filename"}}</th>
                        <th>{{.Tr.T "article"}}</th>
                        <th>{{.Tr.T "uploaded_at"}}</th>
                        <th>{{.Tr.T "manage"}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Data.medias}}
                    <tr>
                        <td>{{.Filename}}</td>
                        <td><a target="_blank" href="/{{.Article.Slug}}/v{{.Article.Version}}">{{.Article.Title}}</a></td>
                        <td>{{tf .UploadedAt ($.Tr.T "date_format")}}</td>
                        <td>
                            <button onclick="deleteFile('{{.Filename}}','{{.Article.ID}}')" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash"></i> {{$.Tr.T "delete"}}
                            </button>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <a href="?page={{add .Data.page -1}}">
                <i class="fa fa-chevron-left"></i> {{.Tr.T "previous"}}
            </a>
            <span class="active">Page {{.Data.page}}</span>
            <a href="?page={{add .Data.page 1}}">
                {{.Tr.T "next"}} <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>

<script>
    function deleteFile(file, articleId) {
        if (articleId !== '') {
            alert("You have to delete file usage in article.")
            return
        }
        if (!confirm("Confirm delete?")) {
            return
        }
        ajaxRequest({
            url: "/admin/media?name=" + file,
            type: 'DELETE',
            success: () => {
                window.location.reload()
            }
        })
    }
</script>

{{template "admin/footer" .}}
{{end}}