{{define "site/article"}}
{{template "site/header" .}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{.Data.article.Title}}",
  "image": "https://{{.Conf.Site.Domain}}/logo.png",
  "author": {
    "@type": "Person",
    "name": "{{.Conf.User.Nickname}}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{.Conf.Site.SpaceName}}",
    "logo": {
      "@type": "ImageObject",
      "url": "https://{{.Conf.Site.Domain}}/logo.png"
    }
  },
  "datePublished": "{{iso8601 .Data.article.CreatedAt}}",
  "dateModified": "{{iso8601 .Data.article.UpdatedAt}}",
  "description": "{{.Desc}}"
}
</script>
<div id="header-post">
    <span id="menu-icon"><i class="fa-solid fa-bars fa-lg"></i></span>
    <span id="menu-icon-tablet"><i class="fa-solid fa-bars fa-lg"></i></span>
    <span id="top-icon-tablet" onclick="scrollToTop(this)" style="display:none;"><i
            class="fa-solid fa-chevron-up fa-lg"></i></span>
    <span id="menu">
        <nav id="nav">
            <ul>
                {{range index .Theme "cactus.headermenus"}}
                <li><a href="{{.link}}" {{if .black}} target="_blank" {{end}}>{{if .icon}}<i class="{{.icon}}"></i>
                        {{end}}{{.name}}</a></li>
                {{end}}
            </ul>
        </nav>
        <br>
        <span id="actions">
            <ul>
                {{if .Data.article.SibilingArticle.Prev}}
                <li><a class="icon" href="//{{.Conf.Site.Domain}}/{{.Data.article.SibilingArticle.Prev.Slug}}"
                        title="{{.Data.article.SibilingArticle.Prev.Title}}"><i class="fa-solid fa-chevron-left"
                            aria-hidden="true" onmouseover="toggle('#i-prev')" onmouseout="toggle('#i-prev')"></i></a>
                </li>
                {{end}}
                {{if .Data.article.SibilingArticle.Next}}
                <li><a class="icon" href="//{{.Conf.Site.Domain}}/{{.Data.article.SibilingArticle.Next.Slug}}"
                        title="{{.Data.article.SibilingArticle.Next.Title}}"><i class="fa-solid fa-chevron-right"
                            aria-hidden="true" onmouseover="toggle('#i-next')" onmouseout="toggle('#i-next')"></i></a>
                </li>
                {{end}}
                <li><span class="icon">
                        <i class="fa-solid fa-chevron-up" aria-hidden="true" onmouseover="toggle('#i-top')"
                            onmouseout="toggle('#i-top')" onclick="scrollToTop(this)"></i></span></li>
                <li><span class="icon"><i class="fa-solid fa-share-nodes" aria-hidden="true" onmouseover="toggle('#i-share')"
                            onmouseout="toggle('#i-share')" onclick="toggle('#share');return false;"></i></span></li>
            </ul>
            <span id="i-prev" class="info" style="display:none;">{{.Tr.T "previous_post"}}</span>
            <span id="i-next" class="info" style="display:none;">{{.Tr.T "next_post"}}</span>
            <span id="i-top" class="info" style="display:none;">{{.Tr.T "return_top"}}</span>
            <span id="i-share" class="info" style="display:none;">{{.Tr.T "share"}}</span>
        </span>
        <br>
        <div id="share" style="display: none">
            <ul>
                <li><a class="icon"
                        href="http://www.facebook.com/sharer.php?u=https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}"><i
                            class="fa-brands fa-facebook " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="https://x.com/share?url=https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}&amp;text={{.Data.article.Title|urlencode}}"><i
                            class="fa-brands fa-x-twitter " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="http://www.linkedin.com/shareArticle?url=https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title|urlencode}}"><i
                            class="fa-brands fa-linkedin " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="https://pinterest.com/pin/create/bookmarklet/?url=https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}&amp;is_video=false&amp;description={{.Data.article.Title|urlencode}}"><i
                            class="fa-brands fa-pinterest " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="mailto:?subject={{.Data.article.Title|urlencode}}&amp;body=Check out this article: https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}"><i
                            class="fa-solid fa-envelope " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="https://getpocket.com/save?url=https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title|urlencode}}"><i
                            class="fa-brands fa-get-pocket " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="http://reddit.com/submit?url=https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title|urlencode}}"><i
                            class="fa-brands fa-reddit " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="http://www.tumblr.com/share/link?url=https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}&amp;name={{.Data.article.Title|urlencode}}&amp;description="><i
                            class="fa-brands fa-tumblr " aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div id="toc">
            <ol class="toc">
                {{template "site/article_title_item" .Data.article.Toc}}
            </ol>
        </div>
    </span>
</div>
<div class="content index py4"> <!-- 使用 content index py4 将页面主体包裹起来，与页脚拆分，在页脚前关闭-->
    <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
        <header>
            <h2 class="posttitle" itemprop="name headline">
                {{.Data.article.Title}}
            </h2>
            <div class="meta">
                <span class="author" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                    <span itemprop="name">{{.Conf.User.Nickname}}</span>
                </span>
                <div class="postdate">
                    {{.Tr.T "created_at_label"}}: <time datetime="{{iso8601 .Data.article.CreatedAt}}" itemprop="datePublished">{{tf .Data.article.CreatedAt
                        (.Tr.T "date_format")}}</time>
                    {{if ne (tf .Data.article.CreatedAt "2006-01-02") (tf .Data.article.UpdatedAt "2006-01-02")}}
                     · {{.Tr.T "updated_at"}}: <time datetime="{{iso8601 .Data.article.UpdatedAt}}" itemprop="dateModified">{{tf .Data.article.UpdatedAt (.Tr.T "date_format")}}</time>
                    {{end}}
                    <small>·v{{.Data.article.Version}}</small>
                    {{if .Data.article.ReadNum}}
                    |
                    <span><i class="fa-regular fa-eye"></i>{{.Data.article.ReadNum}}{{if
                        .Data.article.CommentNum}},<i class="fa-regular fa-comment-dots"></i>{{.Data.article.CommentNum}}{{end}}</span>
                    {{end}}
                </div>
                {{if .Data.article.RawTags}}
                <div class="article-tag">
                    {{range $k,$v:=.Data.article.Tags}}
                    {{if $v}}{{if eq $k 0}}<i class="fa-solid fa-tag"></i> {{end}}<a class="tag-link"
                        href="//{{$.Conf.Site.Domain}}/tags/{{$v}}/">{{$v}}</a>{{if not (last $k $.Data.article.Tags)}},{{end}}{{end}}
                    {{end}}
                </div>
                {{end}}
                {{if .Login}}
                <a href="/admin/publish?id={{.Data.article.ID}}">{{.Tr.T "edit_article"}}</a>
                {{end}}
            </div>
        </header>
        <div class="content" itemprop="articleBody">
            {{if gt .Data.article.NewVersion .Data.article.Version}}
            <i>{{(.Tr.T "has_new_version" (.Data.article.Version|uint2str) .Data.article.Slug (.Data.article.NewVersion|uint2str) (.Data.article.NewVersion|uint2str))|unsafe}}</i>
            {{else if gt .Data.article.Version 1}}
            <i>{{(.Tr.T "has_old_version" (.Data.article.Version|uint2str) (oldVersions .Data.article.Version .Data.article.Slug))|unsafe}}</i>
            {{end}}
            {{(md (.Data.article|articleIdx) .Data.article.Content)|unsafe}}
            {{if .Data.article.IsBook}}
            <h4>{{.Tr.T "chapters"}}</h4>
            {{template "site/article_chapters" (articleData .Data.article .Tr)}}
            {{end}}
        </div>
        {{if .Data.article.Book}}
        <footer>
            {{.Tr.T "book"}}::<a href="/{{.Data.article.Book.Slug}}"><b>{{.Data.article.Book.Title}}</b></a> -
            {{.Tr.T "chapters"}}
            <ul>
                {{if .Data.article.SibilingArticle.Prev.ID}}<li>{{.Tr.T "prev_chapter"}} <a
                        href="/{{.Data.article.SibilingArticle.Prev.Slug}}">{{.Data.article.SibilingArticle.Prev.Title}}</a>
                </li>
                {{end}}
                <li>{{.Data.article.Title}}</li>
                {{if .Data.article.SibilingArticle.Next.ID}}<li>{{.Tr.T "next_chapter"}} <a
                        href="/{{.Data.article.SibilingArticle.Next.Slug}}">{{.Data.article.SibilingArticle.Next.Title}}</a>
                </li>
                {{end}}
            </ul>
        </footer>
        {{end}}
    </article>

    {{if or (not .Data.article.DisableComment) (gt .Data.article.CommentNum 0)}}
    <div id="reply-list">
        <h1>{{.Tr.T "comments"}}</h1>
        {{template "site/comments_entry" (commentsData .Data.article.Comments .Tr)}}
    </div>
    {{if .Data.article.Comments}}
    <div class="pagination">
        {{if gt .Data.comment_page.Page 1}}<a
            href="/{{.Data.article.Slug}}?comment_page={{.Data.comment_page.PrevPage}}" rel="prev" aria-label="{{.Tr.T "previous_page"}}"><i
                class="fa-solid fa-angle-left"></i></a>{{end}}
        <span class="page-number">{{.Tr.T "pagination" (int2str .Data.comment_page.Page) (int2str
            .Data.comment_page.TotalPage) (int2str .Data.comment_page.TotalRecord) "comments"}}</span>
        {{if and (gt .Data.comment_page.NextPage 1) (lt .Data.comment_page.Page .Data.comment_page.TotalPage)}}<a
            href="/{{.Data.article.Slug}}?comment_page={{.Data.comment_page.NextPage}}" rel="next" aria-label="{{.Tr.T "next_page"}}"><i
                class="fa-solid fa-angle-right"></i></a>{{end}}
    </div>
    {{end}}
    {{if not .Data.article.DisableComment}}
    <div id="reply">
        <textarea cols="40" rows="6" id="id_content"
            placeholder='{{.Tr.T "may_not_reply_if_email_not_exist"}}'></textarea>
        {{if .Login}}
        <input type="hidden" maxlength="64" id="id_nickname">
        {{else}}
        <div class="row">
            <input placeholder='{{.Tr.T "nickname"}}' maxlength="64" id="id_nickname">
            <input placeholder='{{.Tr.T "email"}} ({{.Tr.T "not_required"}})' maxlength="254" id="id_email">
            <input placeholder='{{.Tr.T "website"}} ({{.Tr.T "not_required"}})' maxlength="200" id="id_website">
        </div>
        {{end}}
        <button onclick="comment(this)" class="base-button">{{.Tr.T "submit"}}</button>
        <input type="hidden" value="{{.Data.article.Slug}}" id="id_slug">
        <input type="hidden" id="id_reply_to" value="">
    </div>
    {{end}}
    {{end}}

    <div id="footer-post-container">
        <div id="footer-post">
            <div id="nav-footer" style="display: none">
                <ul>
                    {{range index .Theme "cactus.headermenus"}}
                    <li><a href="{{.link}}" {{if .black}} target="_blank" {{end}}>{{if .icon}}<i class="{{.icon}}"></i>
                            {{end}}{{.name}}</a></li>
                    {{end}}
                </ul>
            </div>

            <div id="toc-footer" style="display: none">
                <ol class="toc">
                    {{template "site/article_title_item" .Data.article.Toc}}
                </ol>
            </div>

            <div id="share-footer" style="display: none">
                <ul>
                    <li><a class="icon"
                            href="http://www.facebook.com/sharer.php?u=https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}"><i
                                class="fa-brands fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="https://x.com/share?url=https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}&amp;text={{.Data.article.Title}}"><i
                                class="fa-brands fa-x-twitter fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="http://www.linkedin.com/shareArticle?url=https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title}}"><i
                                class="fa-brands fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="https://pinterest.com/pin/create/bookmarklet/?url=https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}&amp;is_video=false&amp;description={{.Data.article.Title}}"><i
                                class="fa-brands fa-pinterest fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="mailto:?subject={{.Data.article.Title}}&amp;body=Check out this article: https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}"><i
                                class="fa-solid fa-envelope fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="https://getpocket.com/save?url=https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title}}"><i
                                class="fa-brands fa-get-pocket fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="http://reddit.com/submit?url=https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title}}"><i
                                class="fa-brands fa-reddit fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="http://www.tumblr.com/share/link?url=https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}&amp;name={{.Data.article.Title}}&amp;description="><i
                                class="fa-brands fa-tumblr fa-lg" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div id="actions-footer">
                <span id="menu-footer" class="icon" onclick="toggle('#nav-footer');return false;"><i class="fa-solid fa-bars fa-lg"
                        aria-hidden="true"></i> {{.Tr.T "menu"}}</span>
                <span id="toc-footer-btn" class="icon" onclick="toggle('#toc-footer');return false;"><i class="fa-solid fa-list fa-lg"
                        aria-hidden="true"></i> {{.Tr.T "toc"}}</span>
                <span id="share-footer-btn" class="icon" onclick="toggle('#share-footer');return false;"><i
                        class="fa-solid fa-share-nodes fa-lg" aria-hidden="true"></i> {{.Tr.T "share"}}</span>
                <span id="top" style="display:none" class="icon" onclick="scrollToTop(this)"><i
                        class="fa-solid fa-chevron-up fa-lg" aria-hidden="true"></i> {{.Tr.T "return_top"}}</span>
            </div>
        </div>
    </div>
    <script>
        (function () {
            document.querySelector("#id_nickname").value = localStorage.getItem("solitudes_cm_nickname") || '{{if .Login}}{{.Conf.User.Nickname}}{{end}}'
            if (document.querySelector("#id_email")) {
                document.querySelector("#id_email").value = localStorage.getItem("solitudes_cm_email") || ''
            }
            if (document.querySelector("#id_website")) {
                document.querySelector("#id_website").value = localStorage.getItem("solitudes_cm_website") || ''
            }
            fetch("/api/count?action=article&slug={{.Data.article.Slug}}", { method: "POST" })
        })()

        let loadCommenterInfoTimeout
        const queriedFields = new Set()
        
        function loadCommenterInfo() {
            clearTimeout(loadCommenterInfoTimeout)
            loadCommenterInfoTimeout = setTimeout(() => {
                const nickname = document.querySelector('#id_nickname').value.trim()
                const email = document.querySelector('#id_email') ? document.querySelector('#id_email').value.trim() : ''
                const website = document.querySelector('#id_website') ? document.querySelector('#id_website').value.trim() : ''

                if (!nickname && !email && !website) return

                if (nickname && email && website) return

                const params = new URLSearchParams()
                if (nickname) params.append('nickname', nickname)
                if (email) params.append('email', email)
                if (website) params.append('website', website)

                const url = `/api/commenter-info?${params.toString()}`
                
                fetch(url, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json'
                    }
                }).then(resp => resp.json()).then(data => {
                    if (data.success && data.data) {
                        const nicknameInput = document.querySelector('#id_nickname')
                        const websiteInput = document.querySelector('#id_website')
                        
                        if (nicknameInput && data.data.nickname && !nicknameInput.value && !queriedFields.has('nickname')) {
                            nicknameInput.value = data.data.nickname
                            queriedFields.add('nickname')
                        }
                        if (websiteInput && data.data.website && !websiteInput.value && !queriedFields.has('website')) {
                            websiteInput.value = data.data.website
                            queriedFields.add('website')
                        }
                    }
                }).catch(e => {
                    console.error('Failed to load commenter info:', e)
                })
            }, 300)
        }

        const nicknameInput = document.querySelector('#id_nickname')
        if (nicknameInput) {
            nicknameInput.addEventListener('blur', loadCommenterInfo)
            nicknameInput.addEventListener('input', () => {
                if (queriedFields.has('nickname')) {
                    queriedFields.delete('nickname')
                }
            })
            nicknameInput.addEventListener('focus', () => {
                if (queriedFields.has('nickname')) {
                    queriedFields.delete('nickname')
                }
            })
        }

        const emailInput = document.querySelector('#id_email')
        if (emailInput) {
            emailInput.addEventListener('blur', loadCommenterInfo)
        }

        const websiteInput = document.querySelector('#id_website')
        if (websiteInput) {
            websiteInput.addEventListener('blur', loadCommenterInfo)
            websiteInput.addEventListener('input', () => {
                if (queriedFields.has('website')) {
                    queriedFields.delete('website')
                }
            })
            websiteInput.addEventListener('focus', () => {
                if (queriedFields.has('website')) {
                    queriedFields.delete('website')
                }
            })
        }

        function reply_to(cid, nickname) {
            const idContent = document.querySelector("#id_content");
            idContent.value = '@' + nickname + ' ' + idContent.value;
            document.querySelector("#id_reply_to").value = cid
        }

        function comment(btn) {
            if (btn.disabled) {
                return
            }
            btn.disabled = true
            btn.value = '{{.Tr.T "submitting"}}'
            if (!document.querySelector("#id_nickname").value || !document.querySelector("#id_content").value) {
                btn.disabled = false
                alert('{{.Tr.T "comment_required_fields"}}')
                return
            }
            const cm_nickname = document.querySelector('#id_nickname') ? document.querySelector('#id_nickname').value : "";
            const cm_email = document.querySelector('#id_email') ? document.querySelector('#id_email').value : "";
            const cm_website = document.querySelector('#id_website') ? document.querySelector('#id_website').value : "";
            localStorage.setItem("solitudes_cm_nickname", cm_nickname)
            localStorage.setItem("solitudes_cm_email", cm_email)
            localStorage.setItem("solitudes_cm_website", cm_website)
            var data = {
                nickname: cm_nickname,
                email: cm_email,
                website: cm_website,
                content: document.querySelector('#id_content').value,
                version: parseInt('{{.Data.article.Version}}'),
                slug: document.querySelector('#id_slug').value,
            }
            if (document.querySelector('#id_reply_to').value) {
                data.reply_to = document.querySelector('#id_reply_to').value
            }
            fetch("/api/comment", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(resp => {
                if (resp.status == 200) {
                    window.location.reload()
                    return
                }
                resp.text().then(str => {
                    alert('{{.Tr.T "submit_failed"}} ' + str)
                })
            }).catch(e => {
                alert('{{.Tr.T "submit_failed"}} ' + e)
            }).finally(() => {
                btn.disabled = false
                btn.value = '{{.Tr.T "submit"}}'
            })
        }
    </script>
    {{template "site/footer" .}}
    {{end}}