{{define "site/footer"}}
</div>
<footer id="footer">
    <div class="footer-left">
        Copyright &copy; <a href="//{{.Conf.Site.Domain}}">{{.Conf.Site.SpaceName}}</a>, Powered by <a
            href="https://github.com/naiba/solitudes" target="_blank">Solitudes</a> build·{{.BuildVersion}}
    </div>
    <div class="footer-right">
        <nav>
            <ul>
                {{range index .Theme "cactus.footermenus"}}
                <li><a href="{{.link}}" {{if .black}} target="_blank" {{end}}>{{if .icon}}<i class="{{.icon}}"></i>
                        {{end}}{{.name}}</a></li>
                {{end}}
            </ul>
        </nav>
    </div>
</footer>

<script src="/static/js/main.js?v202601031442"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vditor/3.11.2/method.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/github-dark-dimmed.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js"></script>
<script src="https://unpkg.com/highlightjs-copy@1.0.5/dist/highlightjs-copy.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/highlightjs-copy@1.0.5/dist/highlightjs-copy.min.css">

<script>
    (function () {
        try {
            document.querySelectorAll(".language-echarts,.language-mindmap").forEach(e => {
                e.style.height = e.offsetWidth * 0.5 + 'px';
            })
        } catch (error) {
            console.log(error);
        }
        try {

            const renders = {
                "mermaidRender": Vditor.mermaidRender,
                "mindmapRender": Vditor.mindmapRender,
                "chartRender": Vditor.chartRender,
                "mediaRender": Vditor.mediaRender,
                "mathRender": Vditor.mathRender,
                "graphvizRender": Vditor.graphvizRender,
                "plantumlRender": Vditor.plantumlRender,
            };
            for (let i = 0; i < Object.keys(renders).length; i++) {
                const render = renders[Object.keys(renders)[i]];
                try {
                    if (Object.keys(renders)[i] == "mermaidRender") {
                        let theme = "{{.Conf.Site.Theme}}" == "dark" ? "dark" : undefined;
                        render(document, undefined, theme)
                    } else {
                        render(document)
                    }
                } catch (error) {
                    console.log(Object.keys(renders)[i], error);
                }
            }
        } catch (error) {
            console.log(error);
        }
        hljs.addPlugin(new CopyButtonPlugin());
        hljs.highlightAll();
    })()
</script>
{{ $code := index .Theme "cactus.customcode" }}{{ if $code }}{{ printf "%s" $code | unsafe }}{{ end }}
</body>

</html>
{{end}}