{{define "site/header"}}
<!DOCTYPE html>
<html lang="{{.Tr.Locale}}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/logo.png">
    <link rel="shortcut icon" href="/logo.png">
    <link rel="apple-touch-icon" href="/logo.png">
    {{ $colorScheme := index .Theme "cactus.colorscheme" }}
    <link rel="stylesheet" href="/static/site/cactus/css/theme-{{ $colorScheme }}.css?v202602060100">
    <link rel="stylesheet" href="/static/site/cactus/css/main.css?v202602060100">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="preload" as="image" href="/logo.png?20211213">
    <link rel="dns-prefetch" href="https://gravatar.loli.net">
    <link rel="dns-prefetch" href="https://api.dicebear.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"></noscript>
    <title>{{.Title}}</title>
    {{if .Noindex}}<meta name="robots" content="noindex">{{end}}
    <meta name="description" content="{{.Desc}}">
    <meta name="keywords" content="{{.Keywords}}">
    <link rel="alternate" type="application/rss+xml" title="{{.Conf.Site.SpaceName}} » Feed"
        href="https://{{.Conf.Site.Domain}}/feed/rss">
    <link rel="alternate" type="application/atom+xml" title="{{.Conf.Site.SpaceName}} » Feed"
        href="https://{{.Conf.Site.Domain}}/feed/atom">
    <link rel="alternate" type="application/json" title="{{.Conf.Site.SpaceName}} » Feed"
        href="https://{{.Conf.Site.Domain}}/feed/json">
    {{if not .Noindex}}<link rel="canonical" href="https://{{.Conf.Site.Domain}}{{.Path}}">{{end}}
    <meta name="author" content="{{.Conf.User.Nickname}}">
    <meta property="og:title" content="{{.Title}}">
    <meta property="og:description" content="{{.Desc}}">
    <meta property="og:url" content="https://{{.Conf.Site.Domain}}{{.Path}}">
    <meta property="og:type" content="{{.OgType}}">
    <meta property="og:site_name" content="{{.Conf.Site.SpaceName}}">
    {{if eq .OgType "article"}}<meta property="og:image" content="{{firstImage .Data.article.Content (printf "https://%s/logo.png" .Conf.Site.Domain)}}">
    {{else}}<meta property="og:image" content="https://{{.Conf.Site.Domain}}/logo.png">{{end}}
    {{if eq .OgType "article"}}
    <meta property="article:published_time" content="{{iso8601 .Data.article.CreatedAt}}">
    <meta property="article:modified_time" content="{{iso8601 .Data.article.UpdatedAt}}">
    <meta property="article:author" content="{{.Conf.User.Nickname}}">
    {{range .Data.article.Tags}}<meta property="article:tag" content="{{.}}">
    {{end}}{{end}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{.Title}}">
    <meta name="twitter:description" content="{{.Desc}}">
    {{if eq .OgType "article"}}<meta name="twitter:image" content="{{firstImage .Data.article.Content (printf "https://%s/logo.png" .Conf.Site.Domain)}}">
    {{else}}<meta name="twitter:image" content="https://{{.Conf.Site.Domain}}/logo.png">{{end}}
</head>

<body class="max-width mx-auto px3 ltr">
    <a href="#main-content" class="sr-only">Skip to content</a>
    {{if ne .Path "/"}}
    {{if not .Noindex}}
    {{if .Data.article}}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "{{.Tr.T "home"}}",
          "item": "https://{{.Conf.Site.Domain}}/"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "{{.Tr.T "posts"}}",
          "item": "https://{{.Conf.Site.Domain}}/posts/"
        },
        {
          "@type": "ListItem",
          "position": 3,
          "name": "{{jsonEscape .Data.article.Title}}",
          "item": "https://{{.Conf.Site.Domain}}/{{.Data.article.Slug}}"
        }
      ]
    }
    </script>
    {{else}}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "{{.Tr.T "home"}}",
          "item": "https://{{.Conf.Site.Domain}}/"
        }{{if .Data.tag}},
        {
          "@type": "ListItem",
          "position": 2,
          "name": "{{.Tr.T "tags"}}",
          "item": "https://{{.Conf.Site.Domain}}/tags/"
        },
        {
          "@type": "ListItem",
          "position": 3,
          "name": "{{jsonEscape .Data.tag}}",
          "item": "https://{{.Conf.Site.Domain}}/tags/{{.Data.tag}}/"
        }{{else if eq .Path "/tags/"}},
        {
          "@type": "ListItem",
          "position": 2,
          "name": "{{.Tr.T "tags"}}",
          "item": "https://{{.Conf.Site.Domain}}/tags/"
        }{{else if eq .Path "/posts/"}},
        {
          "@type": "ListItem",
          "position": 2,
          "name": "{{.Tr.T "posts"}}",
          "item": "https://{{.Conf.Site.Domain}}/posts/"
        }{{else if eq .Path "/search/"}},
        {
          "@type": "ListItem",
          "position": 2,
          "name": "{{.Tr.T "search"}}",
          "item": "https://{{.Conf.Site.Domain}}/search/"
        }{{end}}
      ]
    }
    </script>
    {{end}}
    {{end}}
    {{end}}
    {{end}}