{{define "site/menu"}}
<div class="content index py4"> <!-- 使用 content index py4 将页面主体包裹起来，与页脚拆分，在页脚前关闭-->
    <header id="header">
        <div id="logo" style="background-image: url(/logo.png?20211213);"></div>
        <div id="title">
            <div class="h1">{{.Conf.Site.SpaceName}}</div>
        </div>
        <div id="nav">
            <ul>
                <li class="icon">
                    <span><i class="fa-solid fa-bars fa-2x"></i></span>
                </li>
                {{range index .Theme "cactus.headermenus"}}
                <li><a href="{{.link}}" {{if .black}} target="_blank" rel="noopener noreferrer"{{end}}>{{if .icon}}<i class="{{.icon}}"></i>
                        {{end}}{{.name}}</a></li>
                {{end}}
            </ul>
        </div>
    </header>
    {{end}}