{{define "site/search"}}
{{template "site/header" .}}
{{template "site/menu" .}}
<article class="post" id="main-content" tabindex="-1">
  <div class="content">
    {{template "site/search_form" .}}
    <section id="search">
      {{if .Data.results}}
      <div id="search-result">
        <ul class="search-result-list">
          {{range .Data.results}}
          <li>
            <a href="/{{.Slug}}" class="search-result-title">{{.Title}}</a>
            {{if .Content}}
            <p class="search-result">
              {{.Content|unsafe}}
            </p>
            {{end}}
          </li>
          {{end}}
        </ul>
      </div>
      {{else}}
      <p class="search-no-result" style="display: block;">{{.Tr.T "no_search_results"}}</p>
      {{end}}
    </section>
  </div>
{{template "site/pagination" (dict "nav" .Data.navigation "tr" .Tr)}}
</article>
{{template "site/footer" .}}
{{end}}
