debug: true
enabletrustedproxycheck: false
trustedproxies:
  - 192.168.160.1
proxyheader: X-Forwarded-For
# 启用 UUID 扩展 docker-compose exec db psql -U solitudes solitudes -c 'CREATE EXTENSION IF NOT EXISTS "uuid-ossp";'
database: postgres://solitudes:thisispassword@db/solitudes?sslmode=disable
user:
  email: hi@example.com
  nickname: naiba
  password: $2a$10$qXMp0vfCL2rdhYGr7VT7NuJLEMysmO.EsGAfgQGtMupITe7ZNbi86 #默认密码 123456
site:
  spacename: Solitudes
  spacedesc: We love writing
  hometopcontent: "# Top:\n\nA fast, simple & powerful blog framework \U0001F44D\n"
  homebottomcontent: "# Bottom:\n\nA fast, simple & powerful blog framework \U0001F44D\n"
  theme: white
  headermenus:
    - name: Home
      link: /
      icon: ""
      black: false
    - name: Archive
      link: /archive/
      icon: ""
      black: false
    - name: Books
      link: /books/
      icon: ""
      black: false
    - name: About
      link: /about
      icon: fa fa-lightbulb
      black: false
    - name: Solitudes
      link: https://github.com/naiba/solitudes
      icon: fab fa-github
      black: true
  footermenus:
    - name: Home
      link: /
      icon: ""
      black: false
    - name: About
      link: /about
      icon: far fa-lightbulb
      black: false
