{{define "default/archive"}}
{{template "default/header" .}}
{{template "default/menu" .}}
<section id="archive">
  <ul class="post-list">
    {{range $s  := .Data.articles}}
    {{range $j,$a := $s}}
    {{if eq $j 0}}<h2>{{$a.CreatedAt.Year}}</h2>{{end}}
    {{template "default/article_list_entry" (articleData $a $.Tr)}}
    {{end}}
    {{end}}
    {{if not .Data.articles}}
    <li class="post-item">
      <span>{{.Tr.T "no_article"}}</span>
    </li>
    {{end}}
  </ul>
  <div class="pagination">
    {{if gt .Data.page.Page 1}}<a href="//{{.Conf.Site.Domain}}/{{.Data.what}}/{{.Data.page.PrevPage}}/"><i
        class="fas fa-angle-left"></i></a>{{end}}
    <span
      class="page-number">{{.Tr.T "pagination" (int2str .Data.page.Page) (int2str .Data.page.TotalPage) (int2str .Data.page.TotalRecord) "articles"}}</span>
    {{if and (gt .Data.page.NextPage 1) (lt .Data.page.Page .Data.page.TotalPage)}}<a
      href="//{{.Conf.Site.Domain}}/{{.Data.what}}/{{.Data.page.NextPage}}/"><i class="fas fa-angle-right"></i></a>{{end}}
    {{if gt .Data.page.TotalPage 1}}
    <div style="margin-top: 0.5rem;">
      <input value="{{.Data.page.Page}}" class="search-input" style="display: unset;vertical-align: unset;width: 5rem !important;" type="number">
      <button class="base-button">{{.Tr.T "go_to_page"}}</button>
    </div>
    {{end}}
  </div>
</section>
<script>
  document.querySelector('.pagination button').addEventListener('click', function () {
    const page = document.querySelector('.pagination input').value;
    if (page) {
      window.location.href = 'https://{{.Conf.Site.Domain}}/{{.Data.what}}/' + page + '/';
    }
  });
</script>
{{template "default/footer" .}}
{{end}}