{{define "default/article"}}
{{template "default/header" .}}
<div id="header-post">
    <a id="menu-icon" href="#"><i class="fas fa-bars fa-lg"></i></a>
    <a id="menu-icon-tablet" href="#"><i class="fas fa-bars fa-lg"></i></a>
    <a id="top-icon-tablet" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"
        style="display:none;"><i class="fas fa-chevron-up fa-lg"></i></a>
    <span id="menu">
        <span id="nav">
            <ul>
                {{range .Conf.Web.HeaderMenus}}
                <li><a href="{{.Link}}" {{if .Black}} target="_black" {{end}}>{{if .Icon}}<i class="{{.Icon}}"></i>
                        {{end}}{{.Name}}</a></li>
                {{end}}
            </ul>
        </span>
        <br>
        <span id="actions">
            <ul>
                {{if .Data.prev}}
                <li><a class="icon" href="/{{.Data.prev}}"><i class="fas fa-chevron-left" aria-hidden="true"
                            onmouseover="$('#i-prev').toggle();" onmouseout="$('#i-prev').toggle();"></i></a></li>
                {{end}}
                {{if .Data.next}}
                <li><a class="icon" href="/{{.Data.next}}"><i class="fas fa-chevron-right" aria-hidden="true"
                            onmouseover="$('#i-next').toggle();" onmouseout="$('#i-next').toggle();"></i></a></li>
                {{end}}
                <li><a class="icon" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"><i
                            class="fas fa-chevron-up" aria-hidden="true" onmouseover="$('#i-top').toggle();"
                            onmouseout="$('#i-top').toggle();"></i></a></li>
                <li><a class="icon" href="#"><i class="fas fa-share-alt" aria-hidden="true"
                            onmouseover="$('#i-share').toggle();" onmouseout="$('#i-share').toggle();"
                            onclick="$('#share').toggle();return false;"></i></a></li>
            </ul>
            <span id="i-prev" class="info" style="display:none;">Previous post</span>
            <span id="i-next" class="info" style="display:none;">Next post</span>
            <span id="i-top" class="info" style="display:none;">Back to top</span>
            <span id="i-share" class="info" style="display:none;">Share post</span>
        </span>
        <br>
        <div id="share" style="display: none">
            <ul>
                <li><a class="icon"
                        href="http://www.facebook.com/sharer.php?u=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}"><i
                            class="fab fa-facebook " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="https://twitter.com/share?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;text={{.Data.article.Title}}"><i
                            class="fab fa-twitter " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="http://www.linkedin.com/shareArticle?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title}}"><i
                            class="fab fa-linkedin " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="https://pinterest.com/pin/create/bookmarklet/?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;is_video=false&amp;description={{.Data.article.Title}}"><i
                            class="fab fa-pinterest " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="mailto:?subject={{.Data.article.Title}}&amp;body=Check out this article: https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}"><i
                            class="fas fa-envelope " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="https://getpocket.com/save?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title}}"><i
                            class="fab fa-get-pocket " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="http://reddit.com/submit?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title}}"><i
                            class="fab fa-reddit " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="http://www.stumbleupon.com/submit?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title}}"><i
                            class="fab fa-stumbleupon " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="http://digg.com/submit?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title}}"><i
                            class="fab fa-digg " aria-hidden="true"></i></a></li>
                <li><a class="icon"
                        href="http://www.tumblr.com/share/link?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;name={{.Data.article.Title}}&amp;description="><i
                            class="fab fa-tumblr " aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div id="toc">
            <ol class="toc">
                {{range $k,$v := .Data.article.Toc}}
                <li class="toc-item toc-level-2">
                    <a class="toc-link" href="#{{$v.Slug}}">
                        <span class="toc-number">{{add $k 1}}.</span> <span class="toc-text">{{$v.Title}}</span>
                    </a>
                    {{if $v.SubTitles}}
                    <ol class="toc-child">
                        {{range $k2,$v2 := $v.SubTitles}}
                        <li class="toc-item toc-level-3">
                            <a class="toc-link" href="#{{$v2.Slug}}">
                                <span class="toc-number">{{add $k 1}}.{{add $k2 1}}.</span>
                                <span class="toc-text">{{$v2.Title}}</span>
                            </a>
                            {{if $v2.SubTitles}}
                            <ol class="toc-child">
                                {{range $k3,$v3 := $v2.SubTitles}}
                                <li class="toc-item toc-level-4">
                                    <a class="toc-link" href="#{{$v3.Slug}}">
                                        <span class="toc-number">{{add $k 1}}.{{add $k2 1}}.{{add $k3 1}}.</span>
                                        <span class="toc-text">{{$v3.Title}}</span>
                                    </a>
                                    {{if $v3.SubTitles}}
                                    <ol class="toc-child">
                                        {{range $k4,$v4 := $v3.SubTitles}}
                                        <li class="toc-item toc-level-5">
                                            <a class="toc-link" href="#{{$v4.Slug}}">
                                                <span
                                                    class="toc-number">{{add $k 1}}.{{add $k2 1}}.{{add $k3 1}}.{{add $k4 1}}.</span>
                                                <span class="toc-text">{{$v4.Title}}</span>
                                            </a>
                                            {{if $v4.SubTitles}}
                                            <ol class="toc-child">
                                                {{range $k5,$v5 := $v4.SubTitles}}
                                                <li class="toc-item toc-level-6">
                                                    <a class="toc-link" href="#{{$v5.Slug}}">
                                                        <span
                                                            class="toc-number">{{add $k 1}}.{{add $k2 1}}.{{add $k3 1}}.{{add $k4 1}}.{{add $k5 1}}.</span>
                                                        <span class="toc-text">{{$v5.Title}}</span>
                                                    </a>
                                                </li>
                                                {{end}}
                                            </ol>
                                            {{end}}
                                        </li>
                                        {{end}}
                                    </ol>
                                    {{end}}
                                </li>
                                {{end}}
                            </ol>
                            {{end}}
                        </li>
                        {{end}}
                    </ol>
                    {{end}}
                </li>
                {{end}}
            </ol>
        </div>
    </span>
</div>
<div class="content index py4">
    <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
        <header>
            <h1 class="posttitle" itemprop="name headline">
                {{.Data.article.Title}}
            </h1>
            <div class="meta">
                <span class="author" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                    <span itemprop="name">{{.Conf.Web.User.Nickname}}</span>
                </span>
                <div class="postdate">
                    <time datetime="{{.Data.article.CreatedAt}}"
                        itemprop="datePublished">{{tf .Data.article.CreatedAt "02 Jan 2006"}}</time>
                    {{if gt .Data.article.ReadingNumber 0}}
                    | <span>{{.Data.article.ReadingNumber}}
                        reading{{if gt .Data.article.ReadingNumber 1}}s{{end}}</span>
                    {{end}}
                </div>
                {{if .Data.article.RawTags}}
                <div class="article-tag">
                    {{range $k,$v:=.Data.article.Tags}}
                    {{if $v}}{{if eq $k 0}}<i class="fas fa-tag"></i> {{end}}<a class="tag-link"
                        href="/tags/{{$v}}/">{{$v}}</a>{{if not (last $k $.Data.article.Tags)}},{{end}}{{end}}
                    {{end}}
                </div>
                {{end}}
                {{if .Login}}
                <a href="/admin/publish?id={{.Data.article.ID}}">[edit]</a>
                {{end}}
            </div>
        </header>
        <div class="content" itemprop="articleBody">
            {{.Data.article.Content|md}}
        </div>
    </article>


    <div id="reply-list">
        <h1>评论</h1>
        <div class="row" id="comment-2522">
            <div class="col-xs-2 col-sm-1 gravatar">
                <img src="https://secure.gravatar.com/avatar/3b3898290bdcf73f7f1f29a34f2192da.jpg?s=100&amp;d=mm&amp;r=g"
                    width="100%" alt="">
            </div>
            <div class="col-xs-10 col-sm-11">
                <p class="comment-meta title">
                    <a href="https://www.leavesongs.com" target="_blank" rel="nofollow noopener">phithon</a>
                    <time datetime="2017年2月2日 14:39" itemprop="datePublished">
                        2017 二月 02 14:39
                    </time>
                    <a href="javascript:reply_to('2522', 'phithon')">回复</a>
                </p>
                <p class="comment-meta">@花与海 这个并不是bootstrap主题，这是一个hexo的主题，叫Cactus Dark。<br>我只是加了个grid框架，Flexbox
                    Grid，可能被误认为是bootstrap。</p>
            </div>
        </div>


        <div class="child-node">
            <div class="row" id="comment-2536">
                <div class="col-xs-2 col-sm-1 gravatar">
                    <img src="https://secure.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e.jpg?s=100&amp;d=mm&amp;r=g"
                        width="100%" alt="">
                </div>
                <div class="col-xs-10 col-sm-11">
                    <p class="comment-meta title">
                        <a href="" target="_blank" rel="nofollow noopener">花与海</a>
                        <time datetime="2017年2月10日 14:14" itemprop="datePublished">
                            2017 二月 10 14:14
                        </time>
                        <a href="javascript:reply_to('2536', '花与海')">回复</a>
                    </p>
                    <p class="comment-meta">@phithon P牛厉害 所以你起名叫做talkbook吗</p>
                </div>
            </div>
            <div class="child-node">
                <div class="row" id="comment-2537">
                    <div class="col-xs-2 col-sm-1 gravatar">
                        <img src="https://secure.gravatar.com/avatar/c4267eb6d17276fa31c547ac71611e90.jpg?s=100&amp;d=mm&amp;r=g"
                            width="100%" alt="">
                    </div>
                    <div class="col-xs-10 col-sm-11">
                        <p class="comment-meta title">
                            <a href="https://www.leavesongs.com" target="_blank" rel="nofollow noopener">phithon</a>
                            <time datetime="2017年2月10日 16:10" itemprop="datePublished">
                                2017 二月 10 16:10
                            </time>
                            <a href="javascript:reply_to('2537', 'phithon')">回复</a>
                        </p>
                        <p class="comment-meta">@花与海 talkbook这名字随便起的。。。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <a href="/archives/{{.Data.page.PrevPage}}/"><i class="fas fa-angle-left"></i></a>
        <span class="page-number">Page 1 of 1, 1
            comments in total.</span>
        <a href="/archives/{{.Data.page.NextPage}}/"><i class="fas fa-angle-right"></i></a>
    </div>
    <div id="reply">
        <textarea cols="40" rows="6" id="id_content"></textarea>
        <div class="row">
            <div class="col-xs-4">
                <input placeholder="Nickname" maxlength="64" id="id_nickname">
            </div>
            <div class="col-xs-4">
                <input placeholder="Email (Not Required)" maxlength="254" id="id_email">
            </div>
            <div class="col-xs-4">
                <input placeholder="Website (Not Required)" maxlength="200" id="id_website">
            </div>
        </div>
        <button onclick="comment(this)" class="search-button">Submit</button>
        <input type="hidden" value="{{.Data.article.Slug}}" id="id_slug">
        <input type="hidden" id="id_reply_to">
        <input type="hidden" value="{{.CSRF}}" id="id_csrf">
    </div>

    <div id="footer-post-container">
        <div id="footer-post">
            <div id="nav-footer" style="display: none">
                <ul>
                    {{range .Conf.Web.HeaderMenus}}
                    <li><a href="{{.Link}}" {{if .Black}} target="_black" {{end}}>{{if .Icon}}<i class="{{.Icon}}"></i>
                            {{end}}{{.Name}}</a></li>
                    {{end}}
                </ul>
            </div>

            <div id="toc-footer" style="display: none">
                <ol class="toc">
                    {{range $k,$v := .Data.article.Toc}}
                    <li class="toc-item toc-level-2">
                        <a class="toc-link" href="#{{$v.Slug}}">
                            <span class="toc-number">{{add $k 1}}.</span> <span class="toc-text">{{$v.Title}}</span>
                        </a>
                        {{if $v.SubTitles}}
                        <ol class="toc-child">
                            {{range $k2,$v2 := $v.SubTitles}}
                            <li class="toc-item toc-level-3">
                                <a class="toc-link" href="#{{$v2.Slug}}">
                                    <span class="toc-number">{{add $k 1}}.{{add $k2 1}}.</span>
                                    <span class="toc-text">{{$v2.Title}}</span>
                                </a>
                                {{if $v2.SubTitles}}
                                <ol class="toc-child">
                                    {{range $k3,$v3 := $v2.SubTitles}}
                                    <li class="toc-item toc-level-4">
                                        <a class="toc-link" href="#{{$v3.Slug}}">
                                            <span class="toc-number">{{add $k 1}}.{{add $k2 1}}.{{add $k3 1}}.</span>
                                            <span class="toc-text">{{$v3.Title}}</span>
                                        </a>
                                        {{if $v3.SubTitles}}
                                        <ol class="toc-child">
                                            {{range $k4,$v4 := $v3.SubTitles}}
                                            <li class="toc-item toc-level-5">
                                                <a class="toc-link" href="#{{$v4.Slug}}">
                                                    <span
                                                        class="toc-number">{{add $k 1}}.{{add $k2 1}}.{{add $k3 1}}.{{add $k4 1}}.</span>
                                                    <span class="toc-text">{{$v4.Title}}</span>
                                                </a>
                                                {{if $v4.SubTitles}}
                                                <ol class="toc-child">
                                                    {{range $k5,$v5 := $v4.SubTitles}}
                                                    <li class="toc-item toc-level-6">
                                                        <a class="toc-link" href="#{{$v5.Slug}}">
                                                            <span
                                                                class="toc-number">{{add $k 1}}.{{add $k2 1}}.{{add $k3 1}}.{{add $k4 1}}.{{add $k5 1}}.</span>
                                                            <span class="toc-text">{{$v5.Title}}</span>
                                                        </a>
                                                    </li>
                                                    {{end}}
                                                </ol>
                                                {{end}}
                                            </li>
                                            {{end}}
                                        </ol>
                                        {{end}}
                                    </li>
                                    {{end}}
                                </ol>
                                {{end}}
                            </li>
                            {{end}}
                        </ol>
                        {{end}}
                    </li>
                    {{end}}
                </ol>
            </div>

            <div id="share-footer" style="display: none">
                <ul>
                    <li><a class="icon"
                            href="http://www.facebook.com/sharer.php?u=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}"><i
                                class="fab fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="https://twitter.com/share?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;text={{.Data.article.Title}}"><i
                                class="fab fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="http://www.linkedin.com/shareArticle?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title}}"><i
                                class="fab fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="https://pinterest.com/pin/create/bookmarklet/?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;is_video=false&amp;description={{.Data.article.Title}}"><i
                                class="fab fa-pinterest fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="mailto:?subject={{.Data.article.Title}}&amp;body=Check out this article: https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}"><i
                                class="fas fa-envelope fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="https://getpocket.com/save?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title}}"><i
                                class="fab fa-get-pocket fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="http://reddit.com/submit?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title}}"><i
                                class="fab fa-reddit fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="http://www.stumbleupon.com/submit?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title}}"><i
                                class="fab fa-stumbleupon fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="http://digg.com/submit?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;title={{.Data.article.Title}}"><i
                                class="fab fa-digg fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon"
                            href="http://www.tumblr.com/share/link?url=https://{{.Conf.Web.Domain}}/{{.Data.article.Slug}}&amp;name={{.Data.article.Title}}&amp;description="><i
                                class="fab fa-tumblr fa-lg" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div id="actions-footer">
                <a id="menu" class="icon" href="#" onclick="$('#nav-footer').toggle();return false;"><i
                        class="fas fa-bars fa-lg" aria-hidden="true"></i> Menu</a>
                <a id="toc" class="icon" href="#" onclick="$('#toc-footer').toggle();return false;"><i
                        class="fas fa-list fa-lg" aria-hidden="true"></i> TOC</a>
                <a id="share" class="icon" href="#" onclick="$('#share-footer').toggle();return false;"><i
                        class="fas fa-share-alt fa-lg" aria-hidden="true"></i> Share</a>
                <a id="top" style="display:none" class="icon" href="#"
                    onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"><i class="fas fa-chevron-up fa-lg"
                        aria-hidden="true"></i> Top</a>
            </div>

        </div>
    </div>
    <script>
        window.onload = function () {
            $.get("/count?action=article&slug={{.Data.article.Slug}}")
            $('#id_nickname').val(localStorage.getItem("cm_nickname"))
            $('#id_email').val(localStorage.getItem("cm_email"))
            $('#id_website').val(localStorage.getItem("cm_website"))
        }
        function comment(btn) {
            if (!$('#id_nickname').val() || !$('#id_content').val()) {
                alert('nickname & content is required.')
                return
            }
            localStorage.setItem("cm_nickname", $('#id_nickname').val())
            localStorage.setItem("cm_email", $('#id_email').val())
            localStorage.setItem("cm_website", $('#id_website').val())
            $(btn).text("Submiting ...")
            $.post("comment", {
                nickname: $('#id_nickname').val(),
                email: $('#id_email').val(),
                content: $('#id_content').val(),
                website: $('#id_website').val(),
                _csrf: $('#id_csrf').val(),
                reply_to: $('#id_reply_to').val() ? parseInt($('#id_reply_to').val()) : 0,
                slug: $('#id_slug').val(),
            }, (d) => {
                window.location.reload()
            }).fail((e) => {
                alert("Submit faile: " + e.responseText)
            }).always(() => {
                $(btn).text("Submit")
            })
        }
    </script>
    {{template "default/footer" .}}
    {{end}}