{{define "default/article_list_entry"}}
<li class="post-item">
    <div class="meta">
        <time datetime="{{.article.CreatedAt}}" itemprop="datePublished">{{tf .article.CreatedAt (.tr.T "date_format")}}</time>
    </div>
    {{if .article.IsTopic}}
    <div class="sl-topic">
        {{if .article.IsBook}}📙{{end}}{{if .article.IsPrivate}}🛡️{{end}}{{(md .article.ID .article.Content)|unsafe}}
        {{if .article.Comments}}
        <div class="sl-comments">
            {{range .article.Comments}}
            <div>
                <p>{{if .Email}}
                    <img src="https://gravatar.loli.net/avatar/{{.Email|md5}}.jpg">
                    {{else}}
                    <img src="https://api.dicebear.com/9.x/lorelei/svg?seed={{.Nickname}}">
                    {{end}}<b>{{.Nickname}}</b>{{if .IsAdmin}}👲{{end}}:&nbsp;</p>
                <p>{{.Content}}</p>
                <time class="meta" datetime="{{.CreatedAt}}" itemprop="datePublished">
                    {{tf .CreatedAt ($.tr.T "date_format")}}</time>
            </div>
            {{end}}
        </div>
        {{end}}
        <small>(👀{{.article.ReadNum}}{{if .article.CommentNum}},💬{{.article.CommentNum}}{{end}}) <a
                href="/tags/Topic/">#Topic</a> <a href="/{{.article.Slug}}">
                <b>{{.tr.T "leave_a_comment"}}></b></a></small>
    </div>
    {{else}}
    <div>
        {{if .article.IsBook}}📙{{end}}{{if .article.IsPrivate}}🛡️{{end}}<a href="/{{.article.Slug}}">{{.article.Title}}</a>{{if .article.ReadNum}}
        <small>(👀{{.article.ReadNum}}{{if .article.CommentNum}},💬{{.article.CommentNum}}{{end}})</small>{{end}}
    </div>
    {{end}}
</li>
{{end}}