{{define "default/comments_entry"}}
{{range .comments}}
<div class="row" id="comment-{{.ID}}">
    <div class="gravatar">
        {{if .Email}}
        <img src="https://gravatar.loli.net/avatar/{{.Email|md5}}.jpg?s=100&amp;d=mm&amp;r=g">
        {{else}}
        <img src="https://api.dicebear.com/9.x/lorelei/svg?seed={{.Nickname}}">
        {{end}}
    </div>
    <div>
        <p class="comment-meta title{{if .IsAdmin}} admin{{end}}">
            {{if .Website}}<a href="{{.Website}}" target="_blank" rel="nofollow noopener">{{.Nickname}}</a>{{else}}
            <b>{{.Nickname}}</b>
            {{if .IsAdmin}} 👲 {{end}}
            {{end}}
            <time datetime="{{.CreatedAt}}" itemprop="datePublished">{{tf .CreatedAt ($.tr.T "date_format")}}</time>
            <a href="https://{{$.Conf.Site.Domain}}/{{.Article.Slug}}/v{{.Version}}" rel="nofollow"><small>·v{{.Version}}</small></a>
            <a href="javascript:reply_to('{{.ID}}', '{{.Nickname}}')">{{$.tr.T "reply"}}</a>
        </p>
        <p class="comment-meta">{{.Content}}</p>
    </div>
</div>
<div class="child-node">
    {{template "default/comments_entry" (commentsData .ChildComments $.tr)}}
</div>
{{end}}
{{end}}