{{define "default/footer"}}
<footer id="footer">
    <div class="footer-left">
        Copyright &copy; {{.Conf.User.Nickname}}, Powered by <a href="https://github.com/naiba/solitudes"
            target="_blank">Solitudes</a> build·{{.BuildVersion}}
    </div>
    <div class="footer-right">
        <nav>
            <ul>
                {{range .Conf.Site.FooterMenus}}
                <li><a href="{{.Link}}" {{if .Black}} target="_blank" {{end}}>{{if .Icon}}<i class="{{.Icon}}"></i>
                        {{end}}{{.Name}}</a></li>
                {{end}}
            </ul>
        </nav>
    </div>
</footer>
</div>
</body>

</html>

<script src="/static/cactus/js/main.js?v20220123"></script>
<script src="https://cdn.jsdelivr.net/npm/vditor/dist/method.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/github-dark-dimmed.min.css">
<script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
<script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css" />

<script>
    (function () {
        try {
            document.querySelectorAll(".language-echarts,.language-mindmap").forEach(e => {
                e.style.height = e.offsetWidth * 0.5 + 'px';
            })
        } catch (error) {
            console.log(error);
        }
        try {

            const renders = {
                "mermaidRender": Vditor.mermaidRender,
                "mindmapRender": Vditor.mindmapRender,
                "chartRender": Vditor.chartRender,
                "mediaRender": Vditor.mediaRender,
                "mathRender": Vditor.mathRender,
                "graphvizRender": Vditor.graphvizRender
            };
            for (let i = 0; i < Object.keys(renders).length; i++) {
                const render = renders[Object.keys(renders)[i]];
                try {
                    if (Object.keys(renders)[i] == "mermaidRender") {
                        let theme = "{{.Conf.Site.Theme}}" == "dark" ? "dark" : undefined;
                        render(document, undefined, theme)
                    } else {
                        render(document)
                    }
                } catch (error) {
                    console.log(Object.keys(renders)[i], error);
                }
            }
        } catch (error) {
            console.log(error);
        }
        hljs.addPlugin(new CopyButtonPlugin());
        hljs.highlightAll();
    })()
</script>
{{end}}