{{define "default/index"}}
{{template "default/header" .}}
{{template "default/menu" .}}
<section id="about">
  {{.Data.bio|md}}
</section>
<section id="search">
  <span class="h1"><a href="#">Search</a></span>
  <form action="/search/" method="get">
    <input class="search-input" name="keyword">
    <button class="search-button" type="submit">Search</button>
  </form>
</section>
<section id="writing">
  <span class="h1"><a href="/archives/">Writing</a></span>
  <ul class="post-list">
    {{range .Data.articles}}
    <li class="post-item">
      <div class="meta">
        <time datetime="{{.UpdatedAt}}" itemprop="datePublished">{{tf .UpdatedAt "02 Jan 2006"}}</time>
      </div>
      <span>
        <a href="/{{.Slug}}">{{.Title}}</a>
      </span>
    </li>
    {{end}}
  </ul>
</section>
{{template "default/footer" .}}
{{end}}