{{define "default/index"}}
{{template "default/header" .}}
{{template "default/menu" .}}
{{if trim .Conf.Site.HomeTopContent}}
<section>
  {{(md "home-top" .Conf.Site.HomeTopContent)|unsafe}}
</section>
{{end}}
{{template "default/search_form" .}}
<main>
  {{if .Data.topics}}
  <div class="h1 sl-menu">
    <a href="/tags/Topic/">{{.Tr.T "topic"}}</a>
    <a href="/tags/Topic/">{{.Tr.T "view_more"}}➤</a>
  </div>
  <ul class="post-list">
    {{range .Data.topics}}
    {{template "default/article_list_entry" (artileData . $.Tr)}}
    {{end}}
  </ul>
  {{end}}
  <div class="h1 sl-menu">
    <a href="/archives/">{{.Tr.T "writing"}}</a>
    <a href="/archives/">{{.Tr.T "view_more"}}➤</a>
  </div>
  <ul class="post-list">
    {{if not .Data.articles}}
    <li class="post-item">
      <span>
        <small>{{.Tr.T "no_article"}}</small>
      </span>
    </li>
    {{else}}
    {{range .Data.articles}}
    {{template "default/article_list_entry" (artileData . $.Tr)}}
    {{end}}
    {{end}}
  </ul>
</main>
{{if trim .Conf.Site.HomeBottomContent}}
<section class="home-bottom">
  {{(md "home-bottom" .Conf.Site.HomeBottomContent)|unsafe}}
</section>
{{end}}
{{template "default/footer" .}}
{{end}}