{{define "default/menu"}}
<div class="content index py4">
    <header id="header">
        <a href="/">
            <div id="logo" style="background-image: url(/static/cactus/images/logo.png);"></div>
            <div id="title">
                <h1>{{.Conf.Site.SpaceName}}</h1>
            </div>
        </a>
        <div id="nav">
            <ul>
                <li class="icon">
                    <a href="#"><i class="fas fa-bars fa-2x"></i></a>
                </li>
                {{range .Conf.Site.HeaderMenus}}
                <li><a href="{{.Link}}" {{if .Black}} target="_blank" {{end}}>{{if .Icon}}<i class="{{.Icon}}"></i>
                        {{end}}{{.Name}}</a></li>
                {{end}}
            </ul>
        </div>
    </header>
    {{end}}