{{define "default/search"}}
{{template "default/header" .}}
{{template "default/menu" .}}
<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
  <div class="content" itemprop="articleBody">
    {{template "default/search_form" .}}
    <section id="search">
      {{if .Data.results}}
      <div id="search-result">
        <ul class="search-result-list">
          {{range .Data.results}}
          <li>
            <a href="/{{.Slug}}/v{{.Version}}" class="search-result-title">{{.Title}}</a>
            <p class="search-result">
              {{.Content|unsafe}}
            </p>
          </li>
          {{end}}
        </ul>
      </div>
      {{else}}
      <p class="search-no-result" style="display: block;">No results found.</p>
      {{end}}
    </section>
  </div>
</article>
{{template "default/footer" .}}
{{end}}